// Remove chrome's ugly yellow background for suggestions:
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    transition: background-color 5000s ease-in-out 0s;
}

// flag-icon-css tweaks
.flag-icon {
  height: 1em;
}
.flag-icon-border {
  border: white 1px solid;
}

.text--wrap {
  white-space: pre-line !important;
}

.not_allowed {
  cursor: not-allowed;
}

.clickable {
  cursor: pointer;
}
